.App {
  text-align: center;
  width: 100%;
  /* border: 5px solid green; */
  
}

.container {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 2px solid red; */
  background-color: #e0ebe5;
}

.education {
  display: flex;
  width: 98%;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgb(54, 236, 115); */
}
.option {
  max-width: 600px;
  margin: 1rem;
  /* border: 2px solid rgb(54, 236, 115) */
  
}

.result {
  max-width: 600px;
  margin:1rem;
  /* border: 2px solid rgb(64, 25, 240) */
  
}





.box{
  background-color: #bac3be; 
  padding: 1rem;
  margin: 1rem;
  background-color: #2223;
  /* border: 3px solid red; */
  text-align: left;
}

#box{
  background-color: #bec7c1;
}

#rightbox{
  background-color: #bec7c1;
}

.heading{
  background-color: 
  #bdc6c1;
  padding: 5px;
  color: #222;
  margin: 0;
  /* border: 1px solid red; */
  height: 50px;
}
.imagediv{
  border-radius: 100%;
  height: 200px;
  width:200px;
  border:1px solid black; 
  margin:auto;
  margin-bottom: 10px;

}
.imagediv >img{
  width:100%;
  height: 100%;
  border-radius: 100%;
  box-sizing: content-box;
}
.textarea{
  padding: 3px;
width: 100%;
height: 5rem;
margin-top: 5px;
background-color: #fff7; 
color: #222;
margin: 0;
}
.selectbutton{
  padding: 3px;
margin: 5px;
border: 1px solid;
transition: .3s;
}

input{
  margin: 6px;
  background-color: #dbdfdd;
}

option{
  background-color: #dbdfdd;
}

select{
  margin: 6px;
  background-color: #dbdfdd
}

.VideoInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
}

.VideoInput_input {
  display: none;
}

.VideoInput_video {
  display: block;
  margin: 0;
}

.VideoInput_footer {
  background: #eee;
  width: 100%;
  min-height: 40px;
  line-height: 40px;
  text-align: center;
}